doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='')
  title Bicicletas
  link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')
  // Font Awesome icons (free version)
  script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
  // Google fonts
  link(href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet')
  link(href='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i' rel='stylesheet')
  // Core theme CSS (includes Bootstrap)
  link(href='css/styles.css' rel='stylesheet')
  link(rel='stylesheet' href='https://unpkg.com/leaflet@1.7.1/dist/leaflet.css' integrity='sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==' crossorigin='')

// Navigation
nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    a.navbar-brand.js-scroll-trigger(href='#page-top') TOP
    button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      | Menu
      i.fas.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#about') Nosotros
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#projects') Servicios
        li.nav-item
          a.nav-link.js-scroll-trigger(href='#signup') Contacto
// Masthead
header.masthead
  .container.d-flex.h-100.align-items-center
    .mx-auto.text-center
      h1.mx-auto.my-0.text-uppercase BICICLETAS
      h2.text-white-50.mx-auto.mt-2.mb-5 Bicicletas en un mapa
      a.btn.btn-danger.js-scroll-trigger(href='/bicicletas') ADMINISTRAR
#mapContainer
  #mapid
// About
section#about.about-section.text-center
  .container
    .row
      .col-lg-8.mx-auto
        h2.text-white.mb-4 S&iacute;, Bicicletas
        p.text-white-50
          | Te ofrecemos una gu&iacute;a para que puedas encontrar la bici que va con tus necesidades.
          | Service integral para tu bicicleta, adem&aacute;s armamos bicicletas a pedido. Pintura y restauraci&oacute;n.
    img.img-fluid(src='assets/img/ipad.png' alt='')
// Projects
section#projects.projects-section.bg-light
  .container
    // Featured Project Row
    .row.align-items-center.no-gutters.mb-4.mb-lg-5
      .col-xl-8.col-lg-7
        img.img-fluid.mb-3.mb-lg-0(src='assets/img/bg-masthead.jpg' alt='')
      .col-xl-4.col-lg-5
        .featured-text.text-center.text-lg-left
          h4 Consejos
          p.text-black-50.mb-0
            | Las bicis no son todas iguales, se han diversificado y existe una gran variedad de ellas. Podemos hablar un poco sus caracter&iacute;sticas y cu&aacute;l es recomendada para qu&eacute;
    // Project One Row
    .row.justify-content-center.no-gutters.mb-5.mb-lg-0
      .col-lg-6
        img.img-fluid(src='assets/img/demo-image-01.jpg' alt='')
      .col-lg-6
        .bg-black.text-center.h-100.project
          .d-flex.h-100
            .project-text.w-100.my-auto.text-center.text-lg-left
              h4.text-white Inflado
              p.mb-0.text-white-50
                | Para empezar te damos una buena noticia: existen cubiertas macizas que no se desinflan ni pinchan, as&iacute; como tambi&eacute;n productos antipinchaduras para poner adentro de la c&aacute;mara y evitar los pinchazos. Tambi&eacute;n, hay bandas de kevlar,
                | que se ponen entre la cubierta y la c&aacute;mara, para evitar el pinchazo.
              hr.d-none.d-lg-block.mb-0.ml-0
    // Project Two Row
    .row.justify-content-center.no-gutters
      .col-lg-6
        img.img-fluid(src='assets/img/demo-image-02.jpg' alt='')
      .col-lg-6.order-lg-first
        .bg-black.text-center.h-100.project
          .d-flex.h-100
            .project-text.w-100.my-auto.text-center.text-lg-right
              h4.text-white Mantenimiento
              p.mb-0.text-white-50
                | Es importante para nosotros brindar a nuestros clientes un servicio de reparaci&oacute;n de bicicletas integral, eficiente y econ&oacute;mico que se sume a nuestro servicio de post venta de bicicletas. Las bicicletas son equipos mec&aacute;nicos que necesitan cuidado, mantenimiento y ajustes peri&oacute;dicos.
              hr.d-none.d-lg-block.mb-0.mr-0
// Signup
section#signup.signup-section
  .container
    .row
      .col-md-10.col-lg-8.mx-auto.text-center
        i.far.fa-paper-plane.fa-2x.mb-2.text-white
        h2.text-white.mb-5 Particip&aacute; del sorteo de una bici!
        form.form-inline.d-flex
          input#inputEmail.form-control.flex-fill.mr-0.mr-sm-2.mb-3.mb-sm-0(type='email' placeholder='Correo electronico...')
          button.btn.btn-primary.mx-auto(type='submit') &iexcl;Quiero participar!
// Contact
section.contact-section.bg-black
  .container
    .row
      .col-md-4.mb-3.mb-md-0
        .card.py-4.h-100
          .card-body.text-center
            i.fas.fa-map-marked-alt.text-primary.mb-2
            h4.text-uppercase.m-0 Direcci&oacute;n
            hr.my-4
            .small.text-black-50 Paso del Viejo 766, Jose C. Paz
      .col-md-4.mb-3.mb-md-0
        .card.py-4.h-100
          .card-body.text-center
            i.fas.fa-envelope.text-primary.mb-2
            h4.text-uppercase.m-0 Email
            hr.my-4
            .small.text-black-50
              a(href='mailto:bicis@chanchitofeliz.com?subject=QuieroParticipar&body=TThe message') hola@bicicleta.com.ar
      .col-md-4.mb-3.mb-md-0
        .card.py-4.h-100
          .card-body.text-center
            i.fas.fa-mobile-alt.text-primary.mb-2
            h4.text-uppercase.m-0 T&eacute;lefono
            hr.my-4
            .small.text-black-50 011 4344-3600
    .social.d-flex.justify-content-center
      a.mx-2(href='#!')
        i.fab.fa-twitter
      a.mx-2(href='#!')
        i.fab.fa-facebook-f
      a.mx-2(href='#!')
        i.fab.fa-github
// Footer
footer.footer.bg-black.small.text-center.text-white-50
  .container Copyright &copy; Gazapus
// Bootstrap core JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
// Third party plugin JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
// Core theme JS
script(src='js/scripts.js')
//Map 
script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity='sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==' crossorigin='')
script(src='js/map.js')

